HONEYCOMB_API_KEY=hcaik_01k4ra8z6mqqqd4qh38r2zgrcednrq6dnnhsdt8qwnh6acxbnmsqwn0767

# you could change this to your own bucket of images. We accept no responsibility for the outcome.
BUCKET_NAME=random-pictures

OTEL_EXPORTER_OTLP_ENDPOINT=https://api.honeycomb.io:443/
OTEL_EXPORTER_OTLP_HEADERS=x-honeycomb-team=${HONEYCOMB_API_KEY}

# Emit both old and new (stable) http attributes from semantic conventions
# for example, http.status_code and http.response.status_code
# When ready to use all new attributes, set this to "http"
# see https://opentelemetry.io/docs/specs/semconv/non-normative/http-migration/
OTEL_SEMCONV_STABILITY_OPT_IN="http/dup"
